*{
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;

}

/* main_menu */
.header{
    height: 140px;
    background: linear-gradient(to right, #F8FFE8 0%, #AAF587 33%, #6EDF31 100%);

}
/*ЛОГО*/

.logo img{
    float:left;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 50px;
}
.main_menu{
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;

}

.main_menu a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 400;

}
.main_menu li{
    list-style: none;
    margin-right: 10px;
    width: 140px;
    margin-top: 5%;
    box-shadow: 10px 10px 10px grey;
    font-family:monospace ;
    border-radius: 100px;
    text-align: center;

}
.main_menu li:hover{
    transition-duration: 0.5s;
    box-shadow: 4px 5px 50px grey;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}


/* wrapper */
.wrapper{
    display: flex;
    flex-direction: column;
    height:100% ;
}
.empty_block{
    height: 70px;
}
/* CONTENT */
.content{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 20px;
}

/* MAIN PAGE */
.info{
    display: flex;
    margin: 80px auto 0;
    width: 80%;
    align-items: center;
    border-radius: 200px;

    box-shadow:  -5px 15px 15px skyblue ;
    font-family: monospace;
}
.description {
    font-size: 40px;
    margin: 0 auto;


}

.names{
    box-shadow:-5px 15px 15px skyblue ;
    border-radius: 200px;
    padding: 10px 20px;
    letter-spacing: 3px;
    margin-bottom: 20px;

}
.desc{
    width: 100%;
    font-family: monospace;
    font-width:600;
    color: dodgerblue;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0px 0px skyblue;
    border-radius: 200px;

}
.desc li {
    list-style: none;
    margin-bottom: 10px;
    font-family: monospace;
    font-size: 20px;
    font-style: normal;
    padding: 5px;
    letter-spacing: 2px;
    border-radius: 200px;
    box-shadow: 5px 3px 10px gray;
}
ul.checkmark li:before{
    content: "\2713\0020";
    color: forestgreen;
}
ul a{
    text-decoration: none;
    color: mediumaquamarine;

}
.checkmark li:hover{
    transition-duration: 0.1s;
    box-shadow: 0 12px 10px orange;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}


.footer{

    background: linear-gradient(to right, #F8FFE8 0%, #AAF587 33%, #6EDF31 100%);
    flex:0 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    flex-direction: column;

}


